/* Body */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    height: 100vh;
}
nav{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    background-color: #be9a7e;
    width: 18%;
    height: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: fixed;
}
nav ul{
    list-style-type: none;
    padding: 0;
    font-size: 1.5em;
}
nav ul li{
    margin: 20px 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
    text-decoration: underline;
}
nav ul li a:active{
    color: rgb(135, 103, 69);
    text-decoration: underline;
}
.social-media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.navbar-brand{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    font-weight:900;
    color: white;
    text-decoration: none;
}
main{
    margin-left: 20%;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
main div{
    margin:5px;
}
main div:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
    filter: brightness(1.3);
    transition: filter 0.2s ease-in-out;
}
main img{
    width: 500px;
    height: auto;
    margin:5px
}
@media (max-width: 1000px) {
    nav{
        width: 100vw;
        height: min-content;
        color: white;
        padding: 10px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    nav ul{
        list-style-type: none;
        padding: 0;
    }
    nav ul li{
        display: inline;
        margin: 0px 10px;
    }
    nav ul li a{
        color: white;
        text-decoration: none;
    }
    .social-media{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .navbar-brand{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2.5em;
        font-weight:900;
        color: white;
        text-decoration: none;
        
    }
    .social-media{
        display: inline;
    }
    main{
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    main img{
        width: 500px;
        height: auto;
        margin:5px
    }
}
footer {
    background-color: #7e6450;
    margin-top: 5px;
    color: white;
    padding: 7px;
    text-align: center;
    bottom: 0;
}