@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #212121;
    color:white;
    min-height: 100vh ;
}

img{
   clip-path: polygon(
        10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px),
        calc(100% - 10px) 100%, 10px 100%, 0 calc(100% - 10px), 0 10px
    ); /* Beveled cut on all corners */
}

header{
    flex-direction: column;
}
header h1{
    font-size: 2em;
    font-weight: 500;
}
header h3{
    font-size: 1.2em;
    font-weight: 200;
}
nav{
    background: linear-gradient(to bottom, rgb(8, 53, 76), rgba(0, 0, 0, 0));
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0;
    padding: 30px 0px;
    z-index: 1000;
}
nav>section{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 8pt;
    font-variant: small-caps;
}
nav a{
    color: rgb(213, 213, 213);
    text-decoration: none;
    margin: 0px 10px;
}
nav a:hover{
    color: white;
    font-weight: 500;
}
.active{
    color: white;
    font-weight: 500;
}

#social-media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    height: 20px;
}
main{
    width: 80%;
    padding-top: 20px;
    margin:auto;
}
main:has(section){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
main section{
    margin: 20px 0px;
}
main section:first-child h1{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}
main section>img{
    max-width: 100%;
    height: auto;
}


article img {
    width: 100%;
    height: 100%; /* Ensure the image takes the full height of the figure */
    object-fit: cover; /* Cover the figure area without stretching */
    
}
article img:hover{
    filter: brightness(0.8);
    transition: filter 0.3s ease;
}

footer{
    width: 100%;
    background: linear-gradient(to top, rgb(8, 53, 76), rgba(0, 0, 0, 0));
    padding: 30px 0px 20px 0px;
    text-align: center;
    color: white;
}

form{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
form>*{
    margin: 5px 0px;
}

form div{
    display: flex;
    flex-direction: column;
}
form div>*{
    margin: 5px 0px;
}
form input,select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(8, 53, 76);
}

.image-clickable {
    cursor: pointer;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.fullscreen-overlay.show {
    opacity: 1;
}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    clip-path: none;
    
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
    z-index: 1001;
}

.nav-arrow:hover {
    color: #ccc;
}

.prev-arrow {
    left: 20px;
}

.next-arrow {
    right: 20px;
}

.image-grid, #Image_Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
    grid-auto-flow: dense;

}
.image-grid article > img, #Image_Grid article > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.image-grid div, #Image_Grid div {
    width: 100%;
    height: 100%;
}
.image-grid div > img, #Image_Grid div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-grid .large {
	grid-column: span 3;
	grid-row: span 3;
}
.image-grid .medium {
	grid-column: span 2;
	grid-row: span 2;
}

#Image_Grid{
    grid-template-columns: repeat(auto-fill, minmax(100px , 1fr));
    grid-auto-rows: 100px;
}
#Image_Grid article > img{
    filter: brightness(1);
}
#Image_Grid article{
    width: 100%;
    height: 100%;
}

.content_frame_center_full{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_frame_half_center {
    width: 50%;
    margin:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_frame_half_left {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.content_frame_half_right {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.content_frame_one_third{
    width: calc(33.34% - 10px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_frame_two_thirds{
    width: calc(66.66% - 10px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.content_frame_two_thirds *{
    margin-bottom: 10px;
}

.content_frame_image_full_size{
    width: 100%;
    height: auto;
}

[class^="content_"] *:not(img,article) {
    width: 90%;
    text-decoration: none;
    color: white;
    
}
[class^="content_"] p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 0 1em 0;
}
[class^="content_"] h1 {
    font-size: 2em;
    margin: 0 0 0.5em 0;
}
[class^="content_"] img {
    max-height: 90vh;
}

.ql-snow{
    background-color: white;
    flex-direction: row;
    border-radius: 5px 5px 0px 0px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.editor-container {
    height: 300px; /* Set the height of the editor */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 0px 0px 5px 5px;
    padding: 10px; /* Add padding */
    background-color: #fff; /* Background color */
    color:#212121
}
.Image_loarder_area{
    width: 100%;
    min-height: 300px;
    height: auto;
    border-radius: 5px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.image_preview{
    width: calc(100% - 10px);
    flex-grow: 1;
    height: auto;
    border-radius: 5px;
    border: 0.5px dashed black;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


/* @media (max-width: 1000px) {
    nav{
        width: 100vw;
        height: min-content;
        background: linear-gradient(to right, #1d1d2c, #2f3b5f);
        color: white;
        padding: 10px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    nav ul{
        list-style-type: none;
        padding: 0;
    }
    nav ul li{
        display: inline;
        margin: 0px 10px;
    }
    nav ul li a{
        color: white;
        text-decoration: none;
    }
    .social-media{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        height: fit-content;
    }
    
    .navbar-brand{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2.5em;
        font-weight:900;
        color: white;
        text-decoration: none;
        
    }
    .social-media{
        display: inline;
    }
    main{
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    main img{
        width: auto;
        height: 50px;
        margin:5px
    }
} */