<header>
    <h1>JOÃO ALEXANDRE DIAS</h1>
    <h3>Concept & Creature Designer</h3>
  </header>
      <section>
      <a id="nav_projects" href=""><h2>Projects</h2></a>

      <!--<div id="categories">
        <a href="#" data-category="All">All</a>
        <a href="#" data-category="Illustration">Illustration</a>
        <a href="#" data-category="3D Modeling">3D Modeling</a>
      </div>
    -->
      <a id="nav_about" href="about.html" data-title="About - Portfolio"><h2>About</h2></a>

      <div id="social-media">
        <a href="https://www.linkedin.com/in/joao-dias" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://github.com/JoaoAlexandreDias" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
      </section>