    <a class="navbar-brand" href="#">João Dias</a>
    <!--<button class="navbar-toggler" onclick="toggleNavbar()">
      <span class="navbar-toggler-icon">☰</span>
    </button> -->

    <ul>
        <li><a href="#" data-target="about.html" data-title="About - Portfolio">About</a></li>
        <li><a href="#" data-target="projects.html"  data-title="Portfolio">Projects</a></li>
        <li>
            <ul class="social-media">
                <li>
                    <a href="https://www.linkedin.com/in/joao-dias" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/JoaoAlexandreDias" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
            </ul>
            
        </li>
      </ul>