<!DOCTYPE html>

<html lang="en">

<head>
    
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><!-- Title --></title>
    
    <link rel="stylesheet" href="CSS/main_css.css">
    <link rel="icon" href="CSS/images/Website_icon_32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="CSS/images/Website_icon_64.png" sizes="64x64" type="image/png">
    <script src="https://kit.fontawesome.com/7bdd3e8ea3.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/Flip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/Observer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/Draggable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/MotionPathPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/EaselPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/PixiPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/TextPlugin.min.js"></script>


    <!-- RoughEase, ExpoScaleEase and SlowMo are all included in the EasePack file -->    
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/EasePack.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/CustomEase.min.js"></script>

    <script src="loading.js"></script>
</head>
<body>
    <nav id="navbar-content">
        <!-- Navbar Placeholder -->
    </nav>
    
    
    <main id="main_content">
        <!-- Main Content -->
    </main>

    
    <section id="sub_projects">
        <!-- Sub Content -->
    </section>

    <footer>
        <p>&copy; 2025 João Alexandre Dias. All rights reserved.</p>
    </footer>
    
</body>

</html>