<!DOCTYPE html>

<html lang="en">

<head>
    
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><!-- Title --></title>
    
    <link rel="stylesheet" href="CSS/main_css.css">
    <script src="https://kit.fontawesome.com/7bdd3e8ea3.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav id="navbar-content">
        <!-- Navbar Placeholder -->
    </nav>
    
    
    <main id="main_content">
        <!-- Main Content -->
    </main>

    
    <section id="all_projects">
        <!-- Sub Content -->
    </section>

<script src="loading.js"></script>
    
</body>

</html>